@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    color: var(--text-dark);
    
  }
  
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
  }
header h1 {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
header h2 {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-light);
  }
  
header h3 {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 0.9em;
  }
  a:link,
  a:visited {
    color: var(--text-light);
    text-decoration: none;
  }
main {
    text-align: center;
    padding: 1em;
  }
  
section.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
  }
figure {
    margin: 0;
  }
img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 0.2em solid var(--text-light);
    border-radius: 0.5em;
  }
  
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
  }

  @media screen and (min-width: 700px) {
    section.gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  
@media screen and (min-width: 1000px) {
    header h2 {
      display: none;
    }
}
header nav {
    flex-wrap: nowrap;
  }

  section.gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hide {
    display: none;
  }
  .show {
    display: flex;
  }