body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ecf0f1;
    margin-bottom: 20px;
    padding: 10px; /* Add padding to the nav */
}

nav a {
    text-decoration: none;
    color: #3498db;
    margin: 0 15px;
    font-size: 18px; /* Increase font size of nav links */
}

.home-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; /* Set background color to white */
    padding: 15px;
    border-radius: 5px;
}

.book img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}
.book h2 {
    text-align: center;
    margin: 0; /* Adjust margin as needed */
}
.book p {
    color: black;
}
.faq {
    background-color: #ecf0f1;
    color: #333; /* Change color for better readability */
    padding: 15px;
    border-radius: 5px;
    text-align: left; /* Align text to the left for better readability */
}

.faq h2 {
    color: #2c3e50; /* Change color for better readability */
}

.site-plan-link a {
    color: #e74c3c; /* Change color of site plan link in the footer */
}

.banner {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

h1, h2 {
    color: #2c3e50;
}

footer {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 20px;
    text-align: center;
}

.social a {
    margin: 0 10px;
}

.social img {
    width: 30px;
    height: 30px;
}
.book-container {
    max-width: 800px;
    color: #333;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

